/* GENERALES */
body {
    margin: 0;
    padding: 0;
    position: relative;
}


/* ------- Lateal Izquierdo ------- */
body>aside {
    background: linear-gradient(#ccc, #fff);
    position: absolute;
    width: 20%;
    top: 2%;
    left: 2%;
}

body>aside img {
    width: 100%;
    margin-bottom: 10px;
}

aside:first-of-type ul {
    line-height: 1.125em;
    font-size: 0.8em;
    margin-left: -10px;
    color: #0645AD;
}

body>aside ul {
    list-style: none;
}

body>aside ul li:first-child {
    text-shadow: 1px 1px 1px blue;
}

body>aside ul li+li {
    text-indent: 10px;
}

body>aside h3 {
    color: #666;
    font-weight: 1.1em;
    margin-left: 10px;
    font-variant: small-caps;
}

/* --------------------------------------------------- */
/* ------- PRINCIPAL ------- */

main {
    background-color: white;
    position: absolute;
    width: 70%;
    top: 2%;
    left: 25%;
}

main>header {
    background: radial-gradient(ellipse at top, #ccc, white);
}

main header nav ul {
    width: 40%;
    float: left;
    padding: 10px;
}

main header nav ul li {
    list-style: none;
    display: inline;
}

main header form {
    width: 60%;
    float: left;
}

/* 15 */
main header .fa {
    position: relative;
    top: 10px;
    right: 30px;
}

/* 16 */
main header form .form-control {
    float: left;
    width: 70%;
    height: 30px;
}

/* 17 */
main header form input[type="submit"] {
    float: left;
    margin-left: 5px;
    height: 38px;
    width: 80px;
}

/* 18 */
main header img {
    width: 90%;
}

/* 19 */
main header img:hover {
    visibility: hidden;
}

/* --------------------------------------------------- */
/* ------- SECCIÓN PRINCIPAL ------- */

/* 20 */
main section {
    width: 60%;
    float: left;
}

/* 21 */
main aside {
    width: 30%;
    float: left;
}

/* 22 */
main section p {
    font-size: 0.9em;
    line-height: 1.4em;
    padding-right: 20px;
    text-align: justify;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    text-indent: 10%;
}


/* --------------------------------------------------- */
/* ------- LISTA MAIN ------- */

/* 23 */
main ul {
    background: linear-gradient(top at bottom, #ccc, white);
    font-size: 0.8em;
    width: 70%;
    margin: auto;
}

/* 24 */
 li#transporte ul li {
    font-weight: bold;
}

/* 25 */
main section article ul li li:not(li#transporte) {
    text-decoration: underline;
}

/* 26 */
main section article li#transporte ul li {
    list-style: upper-roman;
    list-style-position: inside;
}


/* --------------------------------------------------- */
/* ------- TABLA MAIN ------- */
/* 27*/
main section article:nth-of-type(2) h3:hover {
    text-shadow: 2px 2px 2px #666;
}

/* 28 */
main section article:nth-of-type(2) h3 {
    font-size: 0.89em;
}

/* 29 */
main section article:nth-of-type(2) table:active {
    transform: scale(1.2);
    margin: 40px 0px;
}


/* 30 */
main section article:nth-of-type(2) table * {
    border: 1px solid #ccc;
}

/* 31 */
main section article:nth-of-type(2) table tr * {
    padding: 6px;
}

/* 32 */
main section article:nth-of-type(2) table td[rowspan],
main section article:nth-of-type(2) table td[colspan] {
    color: red;
}
/* --------------------------------------------------- */
/* ------- TABLA LATERAL --------*/

/* 33 */
main aside table h3 {
    margin-top: 20px;
    font-variant: small-caps;
    font-size: 3em;
    padding: 15px;
    border-top: 5px double #ccc;
    border-bottom: 5px double #ccc;
    border-left: 5px double #666;
    border-right: 5px double #666;
}

/* 34 */
main aside table h3 {
    border-radius: 10px 40px;
}

/* 35 */
main aside table tr:nth-of-type(2) td {
    background-image: url(/Simulacros/CSS/Picto_infobox_map.png);
    background-repeat: no-repeat;
}

main aside  p {
    width: 240px;
    height: 100px;
    background: linear-gradient(gray, white);
    overflow: scroll;
}

/* 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 */
/* --------------------------------------------------- */
/* ------- PIE DE PÁGINA --------*/

main footer {
    clear: both;
    margin: 20px 0;
    float: left;
    font-size: 1em;
    width: 60%;
}

main footer:active {
    transition: font-size, width;
    transition-duration: 5s;
    transition-timing-function: ease-out;
    width: 100%;
    font-size: 1.5em;
}